@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes enhance-header {
  to {
    background: #ffffff73;
    backdrop-filter: blur(7px);
    color: rgba(22, 21, 21, 0.979);
    font-weight: bold;
  }
}

header {
  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}

.clip-path-section1 {
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.clip-path-quehacemos-wave {
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 17.86%, 2.00% 17.81%, 4.00% 17.67%, 6.00% 17.44%, 8.00% 17.12%, 10.00% 16.73%, 12.00% 16.27%, 14.00% 15.77%, 16.00% 15.22%, 18.00% 14.64%, 20.00% 14.06%, 22.00% 13.48%, 24.00% 12.93%, 26.00% 12.41%, 28.00% 11.94%, 30.00% 11.53%, 32.00% 11.20%, 34.00% 10.95%, 36.00% 10.79%, 38.00% 10.72%, 40.00% 10.74%, 42.00% 10.86%, 44.00% 11.07%, 46.00% 11.37%, 48.00% 11.74%, 50.00% 12.19%, 52.00% 12.68%, 54.00% 13.22%, 56.00% 13.79%, 58.00% 14.38%, 60.00% 14.95%, 62.00% 15.52%, 64.00% 16.05%, 66.00% 16.53%, 68.00% 16.95%, 70.00% 17.30%, 72.00% 17.57%, 74.00% 17.76%, 76.00% 17.85%, 78.00% 17.84%, 80.00% 17.74%, 82.00% 17.55%, 84.00% 17.28%, 86.00% 16.92%, 88.00% 16.49%, 90.00% 16.01%, 92.00% 15.47%, 94.00% 14.91%, 96.00% 14.33%, 98.00% 13.75%, 100.00% 13.18%);
}