---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Mision from "../../images/mision.jpg";
import Empresa from "../../images/empresa.jpg";
import "@/styles/globals.css";
---

<Layout title="Tanoni Agro - About us">
  <section class="flex flex-col gap-10 md:gap-0">
    <div class="w-full h-[100px] flex items-center justify-center">
      <div class="w-4/5 flex justify-center items-center">
        <h2 class="text-2xl font-bold text-gray-700">About us</h2>
        <hr class="flex-grow border-t border-gray-300 ml-4" />
      </div>
    </div>

    <article
      class="min-h-[500px] flex flex-col items-center md:flex-row gap-5 md:gap-0"
    >
      <div
        class="w-full md:w-[60%] h-full flex flex-col md:items-center ml-5 md:ml-0"
      >
        <div class="w-[90%] md:w-[60%] flex flex-col gap-5">
          <h2 class="laEmpresa text-2xl md:text-6xl font-semibold opacity-80">
            The company
          </h2>
          <p class="laEmpresa">
            <span class="font-bold">Tanoni Agro SRL</span> is a family business focused
            on the brokerage of grains, oils, by-products, and related services in
            the Argentine market. Since our founding, we have been committed to providing
            comprehensive and personalized solutions that meet the needs of our clients
            in such a dynamic and challenging sector as agriculture. The members
            of this company have extensive experience and a long history in the agricultural
            sector.
          </p>
        </div>
      </div>
      <div
        class="w-full md:w-[40%] h-full flex items-center justify-center md:justify-start"
      >
        <Image src={Empresa} class="md:h-4/6 md:w-4/6" alt="La Empresa" />
      </div>
    </article>

    <!-- SEGUNDO ARTICLE -->

    <article
      class="min-h-[500px] flex flex-col items-center justify-center md:flex-row gap-5 md:gap-0 bg-slate-100"
    >
      <div
        class="w-full md:w-[60%] h-full flex flex-col items-end justify-center order-2 md:order-1"
      >
        <div class="w-full md:w-[80%] flex justify-center">
          <Image
            src={Mision}
            class="md:h-[90%] md:w-[90%]"
            alt="Mision empresarial"
          />
        </div>
      </div>
      <div
        class="w-full md:w-[60%] h-full flex flex-col items-start justify-around ml-5 md:ml-0 order-1 md:order-2"
      >
        <div
          class="w-[90%] md:w-4/5 flex flex-col justify-center items-start gap-5"
        >
          <h2 class="nuestraMision text-xl md:text-4xl font-semibold opacity-80">
            Our Mission
          </h2>
          <p class="nuestraMision">
            We specialize in <span class="font-bold"
              >facilitating commercial transactions between producers and buyers</span
            >, ensuring maximum transparency and efficiency in every operation.
            We offer expert advice and services in risk management, supply chain
            optimization, and access to international markets.
          </p>
        </div>
      </div>
    </article>

    <!-- Tercer article -->

    <article
      class="min-h-[500px] md:h-[500px] w-full flex flex-col md:flex-row justify-center items-center gap-5 bg-slate-50"
    >
      <div
        class="valores h-1/2 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Purpose
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          To build <span class="font-bold">long-term relationships</span> with our
          clients, based on trust and mutual commitment. We are proud to be a strategic
          partner for those looking to maximize the value of their operations in
          the agribusiness sector.
        </p>
      </div>
      <div
        class="valores block h-1/2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Values
        </h5>
        <p
          class="font-normal underline underline-offset-2 text-gray-700 dark:text-gray-400"
        >
          Reliability, transparency, family legacy.
        </p>
      </div>
      <div
        class="valores block h-1/2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Team
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          We offer a <span class="font-bold"
            >highly trained team of professionals</span
          >, with extensive experience and knowledge in the sector, allowing us
          to provide an efficient, reliable service that meets the demands of
          the current market.
        </p>
      </div>
    </article>
  </section>
</Layout>

<!-- Configura el script para que se ejecute en el cliente -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    ScrollReveal().reveal(".laEmpresa", {
      reset: false, // Permite que la animación se repita al volver a entrar en el viewport
      distance: "50px", // Ajusta la distancia del desplazamiento
      duration: 1500, // Ajusta la duración de la animación en milisegundos
      easing: "ease-in-out", // Ajusta el easing para suavizar el efecto
      origin: "bottom", // Ajusta la dirección de origen de la animación
      interval: 200, // Añade un pequeño retraso entre los elementos
      delay: 300,
    });
    ScrollReveal().reveal(".nuestraMision", {
      reset: false,
      distance: "50px",
      duration: 1500,
      easing: "ease-in-out",
      origin: "bottom",
      interval: 200,
      delay: 300,
    });
    ScrollReveal().reveal(".valores", {
      reset: false,
      distance: "50px",
      duration: 1500,
      easing: "ease-in-out",
      origin: "bottom",
      interval: 200,
      delay: 300,
    });
  });
</script>
