---
import { Image } from "astro:assets";
import Logo from "../images/logo.png";
import { Mail, MessageCircleMore, Phone } from "lucide-react";

const { lang } = Astro.props;
---

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/" class="flex items-center">
          <Image src={Logo} class="h-8 w-8 me-3" alt="Tanoni Agro Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >Tanoni Agro
          </span
          >
        </a>
      </div>
      <div class="grid grid-cols-1 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            {lang === "es" ? "Email" : "Email"}
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="mailto:jose.castro@tanoniagro.com.ar"
                target="_blank"
                class="hover:underline flex gap-1"><Mail /> jose.castro@tanoniagro.com.ar</a
              >
            </li>
            <li>
              <a
                href="mailto:carola.tanoni@tanoniagro.com.ar"
                target="_blank"
                class="hover:underline flex gap-1"><Mail /> carola.tanoni@tanoniagro.com.ar</a
              >
            </li>
          </ul>
        </div>
        <div class="md:w-1/2">
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
          {lang === "es" ? "Telefono" : "Phone"}
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="tel:3413761704" class="hover:underline flex gap-1"
                ><Phone /> 3413761704
              </a
              >
            </li>
            <li>
              <a href="tel:3465409977" class="hover:underline flex gap-1"
                ><Phone /> 3465409977
              </a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Whatsapp
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://wa.me/3413761704"
                target="_blank"
                class="hover:underline flex gap-1"><MessageCircleMore /> JOSE MARIA CASTRO</a
              >
            </li>
            <li>
              <a
                href="https://wa.me/3465409977"
                target="_blank"
                class="hover:underline flex gap-1"><MessageCircleMore />CAROLA TANONI</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span
        class="text-sm text-gray-500 sm:text-center dark:text-gray-400 spanFechaActual"
      >
      </span>
    </div>
  </div> 
</footer>

<script is:inline>
  const fechaActual = new Date().getFullYear();
  const spanFechaActual = document.querySelector(".spanFechaActual");

  document.addEventListener("DOMContentLoaded", () => {
    spanFechaActual.textContent = `© ${fechaActual} Stark Two. Todos los Derechos Reservados.`;
  });
</script>
