---
import logo from "../images/logo.png";
const { lang } = Astro.props;

const navLinks = {
  en: [
    { name: "home", path: "/en/" },
    { name: "Who we are", path: "/en/nosotros/" },
    { name: "What we do", path: "/en/quehacemos/" },
    { name: "contact us", path: "/en/contacto/" },
  ],
  es: [
    { name: "inicio", path: "/es/" },
    { name: "nosotros", path: "/es/nosotros/" },
    { name: "que hacemos", path: "/es/quehacemos/" },
    { name: "contacto", path: "/es/contacto/" },
  ],
};

// Obtener los enlaces correspondientes al idioma actual
const links = navLinks[lang] || "es";
---

<header class="fixed inset-x-0 top-0 z-50 bg-transparent navbarReveal">
  <nav class="bg-white md:bg-transparent">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src={logo.src} class="h-8" alt="Tanoni Agro Logo" />
        <span
          class="text-xl self-center md:text-2xl font-semibold whitespace-nowrap dark:text-white"
        >
          TanoniAgro
        </span>
      </a>
      <div
        class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse"
      >
        <button
          type="button"
          data-dropdown-toggle="language-dropdown-menu"
          class="btnRenderizado inline-flex items-center font-medium justify-center px-4 py-2 text-sm rounded-lg cursor-pointer hover:bg-slate-500/60"
        >
          <div class="inline-flex items-center">
            <svg
              xmlns=" "
              id="flag-icons-ar"
              viewBox="0 0 640 480"
              class="h-3.5 w-3.5 rounded-full me-2"
            >
              <path fill="#74acdf" d="M0 0h640v480H0z"></path>
              <path fill="#fff" d="M0 160h640v160H0z"></path>
              <circle cx="320" cy="240" r="40" fill="#f6b40e"></circle>
            </svg>
            Español (AR)
          </div>
        </button>
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700"
          id="language-dropdown-menu"
        >
          <ul class="py-2 font-medium" role="none">
            <li>
              <button
                class="btnIdiomas block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                role="menuitem"
                data-language="en"
              >
                <div class="inline-flex items-center">
                  <svg
                    aria-hidden="true"
                    class="h-3.5 w-3.5 rounded-full me-2"
                    xmlns="http://www.w3.org/2000/svg"
                    id="flag-icon-css-us"
                    viewBox="0 0 512 512"
                  >
                    <g fill-rule="evenodd">
                      <g stroke-width="1pt">
                        <path
                          fill="#bd3d44"
                          d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                          transform="scale(3.9385)"></path>
                        <path
                          fill="#fff"
                          d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                          transform="scale(3.9385)"></path>
                      </g>
                      <path
                        fill="#192f5d"
                        d="M0 0h98.8v70H0z"
                        transform="scale(3.9385)"></path>
                      <path
                        fill="#fff"
                        d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7L74 8.5l-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 7.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 24.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 21.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 38.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 35.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 52.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 49.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 66.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 63.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z"
                        transform="scale(3.9385)"></path>
                    </g>
                  </svg>
                  English (US)
                </div>
              </button>
            </li>
            <li>
              <button
                class="btnIdiomas block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                role="menuitem"
                data-language="es"
              >
                <div class="inline-flex items-center">
                  <svg
                    xmlns=" "
                    id="flag-icons-ar"
                    viewBox="0 0 640 480"
                    class="h-3.5 w-3.5 rounded-full me-2"
                  >
                    <path fill="#74acdf" d="M0 0h640v480H0z"></path>
                    <path fill="#fff" d="M0 160h640v160H0z"></path>
                    <circle cx="320" cy="240" r="40" fill="#f6b40e"></circle>
                  </svg>
                  Español (AR)
                </div>
              </button>
            </li>
          </ul>
        </div>
        <button
          data-collapse-toggle="navbar-language"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-language"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-language"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          {
            links.map((link) => (
              <li>
                <a
                  href={link.path}
                  class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-400 transition-all"
                  aria-current="page"
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  import { btnES, btnEn } from "@/lib/constantes";
  const btnRenderizado = document.querySelector(".btnRenderizado");

  // Obtener el idioma actual desde la URL
  const getCurrentLanguageFromUrl = () => {
    const currentPath = window.location.pathname;
    // Detectar si estamos en la ruta /es/ o /en/
    const match = currentPath.match(/\/(es|en)\//);
    return match ? match[1] : "es"; // Si no se encuentra, por defecto será 'es'
  };

  // Función para cambiar el contenido del botón
  const updateButtonLanguage = (selectedLanguage) => {
    selectedLanguage === "es"
      ? (btnRenderizado.innerHTML = btnES)
      : (btnRenderizado.innerHTML = btnEn);
  };

  // Función para redirigir a la nueva URL si es necesario
  const redirectToNewLanguage = (selectedLanguage) => {
    const currentPath = window.location.pathname;
    const currentLanguage = getCurrentLanguageFromUrl();

    // Solo redirigir si el idioma seleccionado es diferente del actual
    if (selectedLanguage !== currentLanguage) {
      const newPath = currentPath.replace(
        /\/(es|en)\//,
        `/${selectedLanguage}/`
      );
      window.location.href = newPath;
    }
  };

  // Manejo del evento de selección de idioma
  document.addEventListener("DOMContentLoaded", () => {
    const languageOptions = document.querySelectorAll("[data-language]");

    // Detectar el idioma actual de la URL y actualizar el botón inicialmente
    const currentLanguage = getCurrentLanguageFromUrl();
    updateButtonLanguage(currentLanguage);

    languageOptions.forEach((option) => {
      option.addEventListener("click", () => {
        const selectedLanguage = option.getAttribute("data-language");

        // Actualizar el contenido del botón
        updateButtonLanguage(selectedLanguage);

        // Redirigir a la nueva URL si es necesario
        redirectToNewLanguage(selectedLanguage);
      });
    });

    const navbar = document.querySelector(".navbarReveal");
    const path = window.location.pathname;

    if (path === "/es/" || path === "/en/") {
      // Si el path es exactamente "/es" o "/en", se aplican estas clases
      navbar.classList.add("md:text-white", "text-black");
    } else {
      navbar.classList.add("sticky", "text-black", "bg-slate-200");
    }
  });
</script>
