---
import { Image } from "astro:assets";

const { src, alt, description } = Astro.props
---

<div class="carousel-item hidden duration-700 ease-in-out" data-carousel-item>
  <Image
    src={src}
    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    alt={alt}
  />
  
  <div class="absolute inset-0 bg-black/50"></div>
  
  <div id="texto-carrusel" class="z-50 w-full absolute bottom-10 left-0 bg-black/40 text-white p-4">
    <p class="w-full prose-2xl text-white">{description}</p>
  </div>
</div>

<style>
  #texto-carrusel {
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  }
</style>